{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecomm</title>
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="">Add Item</a>
                </li>
                <li class="nav-item">
                    <button id="cart" data-bs-html="true" type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="This is your cart">
                        Cart(0)
                    </button>
                </li>
                </ul>
            </div>
            </div>
        </nav>

        <div class="container">

        {% block content %}
        {% endblock %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
    <script type="text/javascript">
        console.log('This is working');

        if(localStorage.getItem('cart')==null){
            var cart = {};
        }
        else{
            cart = JSON.parse(localStorage.getItem('cart'));
        }

        $(document).on('click','.atc',function(){
            console.log('The add to cart button is clicked');
            var item_id = this.id.toString();
            console.log(item_id);

            if(cart[item_id] != undefined){
                quantity = cart[item_id][0] + 1;
                cart[item_id][0] = quantity;
            }
            else{
                quantity = 1;
                name = $('#nm'+item_id).text();
                cart[item_id] = [quantity, name];

            }
            console.log(cart);
            localStorage.setItem('cart',JSON.stringify(cart));
            document.getElementById('cart').innerHTML = 'Cart('+Object.keys(cart).length +')';

            // Get the popover element
            var popover = $('[data-bs-toggle="popover"]');

            // Update the popover content
            newContent = DisplayCart(cart);
            popover.attr('data-bs-content', newContent);
            var popoverInstance = new bootstrap.Popover(popover[0]);
            popoverInstance.update();

        });

        function DisplayCart(cart){
            var cartString = "";
            cartString += "<h5>This is your cart</h5>"
            var cartIndex = 1;

            for(var x in cart){
                cartString += cartIndex;
                cartString += $('#nm'+x).text() + ' Qty: ' + cart[x][0] + '<br>' ;
                cartIndex += 1;
            }

            cartString += "<a href='/checkout' class='btn btn-warning' id='checkout'>Checkout</a>";
            return cartString;
        }

        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))

    </script>
</html>